<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>ERR NO TITLE</title>
    {% endif %}
    <!-- <link href="static/style.css" rel="stylesheet" type="text/css" /> -->
  </head>
  <body>
      <div>Steganography&nbsp;<a href="{{url_for('index')}}">Home</a>&nbsp;<a href="{{url_for('login')}}">Login</a></div>
      <hr>
        {% with messages=get_flashed_messages() %}
        {% if messages %}
        <ul>
          {% for message in messages %}
          <li> {{message}} </li>
          {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
      {% block content %} {% endblock %}
  </body>
</html>